<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tilitili.schedule.dao.mapper.TilitiliUserMapper">
	<resultMap id="TilitiliUser" type="com.tilitili.schedule.entity.TilitiliUser">
		<result  property="password"  column="password"/>
		<result  property="updateTime"  column="update_time"/>
		<result  property="createTime"  column="create_time"/>
		<result  property="userName"  column="user_name"/>
		<result  property="id"  column="id"/>
		<result  property="status"  column="status"/>
	</resultMap>
	<sql id="Base_Column_List">a.`password`,a.`update_time`,a.`create_time`,a.`user_name`,a.`id`,a.`status`</sql>
	<insert id="addTilitiliUserSelective" parameterType="com.tilitili.schedule.entity.TilitiliUser" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO tilitili_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="password!= null" >`password`,</if>
			`update_time`,
			`create_time`,
			<if test="userName!= null" >`user_name`,</if>
			<if test="status!= null" >`status`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="password!= null" >#{password},</if>
			now(),
			now(),
			<if test="userName!= null" >#{userName},</if>
			<if test="status!= null" >#{status},</if>
		</trim>
	</insert>
	<update id="updateTilitiliUserSelective"  parameterType="com.tilitili.schedule.entity.TilitiliUser">
		update tilitili_user <set>
			<if test="password!=null">`password`=#{password},</if>
			`update_time`=now(),
			<if test="userName!=null">`user_name`=#{userName},</if>
			<if test="status!=null">`status`=#{status},</if>
		</set>
		where id=#{id}
	</update>
	<select id="countTilitiliUserByCondition"  parameterType="TilitiliUserQuery" resultType="java.lang.Integer">
		select count(1) from tilitili_user a <where>
			<if test="password!=null">and `password`=#{password}</if>
			<if test="updateTime!=null">and `update_time`=#{updateTime}</if>
			<if test="createTime!=null">and `create_time`=#{createTime}</if>
			<if test="userName!=null">and `user_name`=#{userName}</if>
			<if test="id!=null">and `id`=#{id}</if>
			<if test="status!=null">and `status`=#{status}</if>
		</where>
	</select>
	<select id="getTilitiliUserByCondition"  parameterType="TilitiliUserQuery" resultMap="TilitiliUser">
		select <include refid="Base_Column_List" /> from tilitili_user a <where>
			<if test="password!=null">and `password`=#{password}</if>
			<if test="updateTime!=null">and `update_time`=#{updateTime}</if>
			<if test="createTime!=null">and `create_time`=#{createTime}</if>
			<if test="userName!=null">and `user_name`=#{userName}</if>
			<if test="id!=null">and `id`=#{id}</if>
			<if test="status!=null">and `status`=#{status}</if>
		</where>
		<if test="pageNo!=null and pageSize != null">limit #{start}, #{pageSize}</if>
	</select>
	<select id="getTilitiliUserById" resultMap="TilitiliUser">
		select <include refid="Base_Column_List" />
		from tilitili_user a where id = #{id}
	</select>
</mapper>