<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.tilitili.schedule.mapper.schedule.automapper.TilitiliUserAutoMapper">
	<resultMap id="TilitiliUser" type="club.tilitili.schedule.entity.TilitiliUser">
		<result  property="id"  column="id"/>
		<result  property="userName"  column="user_name"/>
		<result  property="password"  column="password"/>
		<result  property="status"  column="status"/>
		<result  property="createTime"  column="create_time"/>
		<result  property="updateTime"  column="update_time"/>
	</resultMap>
	<sql id="Base_Column_List">a.`id`,a.`user_name`,a.`password`,a.`status`,a.`create_time`,a.`update_time`</sql>
	<insert id="addTilitiliUserSelective" parameterType="club.tilitili.schedule.entity.TilitiliUser" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO tilitili_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName!= null" >`user_name`,</if>
			<if test="password!= null" >`password`,</if>
			<if test="status!= null" >`status`,</if>
			`create_time`,
			`update_time`,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName!= null" >#{userName},</if>
			<if test="password!= null" >#{password},</if>
			<if test="status!= null" >#{status},</if>
			now(),
			now(),
		</trim>
	</insert>
	<update id="updateTilitiliUserSelective"  parameterType="club.tilitili.schedule.entity.TilitiliUser">
		update tilitili_user <set>
			<if test="userName!=null">`user_name`=#{userName},</if>
			<if test="password!=null">`password`=#{password},</if>
			<if test="status!=null">`status`=#{status},</if>
			`update_time`=now(),
		</set>
		where id=#{id}
	</update>
	<select id="countTilitiliUserByCondition"  parameterType="club.tilitili.schedule.entity.query.TilitiliUserQuery" resultType="java.lang.Integer">
		select count(1) from tilitili_user a <where>
			<if test="id!=null">and `id`=#{id}</if>
			<if test="userName!=null">and `user_name`=#{userName}</if>
			<if test="password!=null">and `password`=#{password}</if>
			<if test="status!=null">and `status`=#{status}</if>
			<if test="createTimeStart!=null">and `create_time`>#{createTimeStart}</if>
			<if test="createTimeEnd!=null">and #{createTimeEnd}>=`create_time`</if>
			<if test="updateTimeStart!=null">and `update_time`>#{updateTimeStart}</if>
			<if test="updateTimeEnd!=null">and #{updateTimeEnd}>=`update_time`</if>
		</where>
	</select>
	<select id="getTilitiliUserByCondition"  parameterType="club.tilitili.schedule.entity.query.TilitiliUserQuery" resultMap="club.tilitili.schedule.mapper.schedule.automapper.TilitiliUserAutoMapper.TilitiliUser">
		select <include refid="club.tilitili.schedule.mapper.schedule.automapper.TilitiliUserAutoMapper.Base_Column_List" /> from tilitili_user a <where>
			<if test="id!=null">and `id`=#{id}</if>
			<if test="userName!=null">and `user_name`=#{userName}</if>
			<if test="password!=null">and `password`=#{password}</if>
			<if test="status!=null">and `status`=#{status}</if>
			<if test="createTimeStart!=null">and `create_time`>#{createTimeStart}</if>
			<if test="createTimeEnd!=null">and #{createTimeEnd}>=`create_time`</if>
			<if test="updateTimeStart!=null">and `update_time`>#{updateTimeStart}</if>
			<if test="updateTimeEnd!=null">and #{updateTimeEnd}>=`update_time`</if>
		</where>
		<if test="sorter!=null and sorted!=null">order by ${sorter} ${sorted}</if>
		<if test="pageNo!=null and pageSize != null">limit #{start}, #{pageSize}</if>
	</select>
	<select id="getTilitiliUserById" resultMap="TilitiliUser">
		select <include refid="Base_Column_List" />
		from tilitili_user a where `id` = #{id}
	</select>
	<delete id="deleteTilitiliUserByPrimary" parameterType="java.util.Map">
		delete from tilitili_user where `id` = #{id}
	</delete>
</mapper>