<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.tilitili.schedule.mapper.schedule.automapper.TilitiliJobAutoMapper">
	<resultMap id="TilitiliJob" type="club.tilitili.schedule.entity.TilitiliJob">
		<result  property="id"  column="id"/>
		<result  property="title"  column="title"/>
		<result  property="name"  column="name"/>
		<result  property="cron"  column="cron"/>
		<result  property="status"  column="status"/>
		<result  property="createTime"  column="create_time"/>
		<result  property="updateTime"  column="update_time"/>
	</resultMap>
	<sql id="Base_Column_List">a.`id`,a.`title`,a.`name`,a.`cron`,a.`status`,a.`create_time`,a.`update_time`</sql>
	<insert id="addTilitiliJobSelective" parameterType="club.tilitili.schedule.entity.TilitiliJob" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO tilitili_job
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title!= null" >`title`,</if>
			<if test="name!= null" >`name`,</if>
			<if test="cron!= null" >`cron`,</if>
			<if test="status!= null" >`status`,</if>
			`create_time`,
			`update_time`,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title!= null" >#{title},</if>
			<if test="name!= null" >#{name},</if>
			<if test="cron!= null" >#{cron},</if>
			<if test="status!= null" >#{status},</if>
			now(),
			now(),
		</trim>
	</insert>
	<update id="updateTilitiliJobSelective"  parameterType="club.tilitili.schedule.entity.TilitiliJob">
		update tilitili_job <set>
			<if test="title!=null">`title`=#{title},</if>
			<if test="name!=null">`name`=#{name},</if>
			<if test="cron!=null">`cron`=#{cron},</if>
			<if test="status!=null">`status`=#{status},</if>
			`update_time`=now(),
		</set>
		where id=#{id}
	</update>
	<select id="countTilitiliJobByCondition"  parameterType="club.tilitili.schedule.entity.query.TilitiliJobQuery" resultType="java.lang.Integer">
		select count(1) from tilitili_job a <where>
			<if test="id!=null">and `id`=#{id}</if>
			<if test="title!=null">and `title`=#{title}</if>
			<if test="name!=null">and `name`=#{name}</if>
			<if test="cron!=null">and `cron`=#{cron}</if>
			<if test="status!=null">and `status`=#{status}</if>
			<if test="createTimeStart!=null">and `create_time`>#{createTimeStart}</if>
			<if test="createTimeEnd!=null">and #{createTimeEnd}>=`create_time`</if>
			<if test="updateTimeStart!=null">and `update_time`>#{updateTimeStart}</if>
			<if test="updateTimeEnd!=null">and #{updateTimeEnd}>=`update_time`</if>
		</where>
	</select>
	<select id="getTilitiliJobByCondition"  parameterType="club.tilitili.schedule.entity.query.TilitiliJobQuery" resultMap="club.tilitili.schedule.mapper.schedule.automapper.TilitiliJobAutoMapper.TilitiliJob">
		select <include refid="club.tilitili.schedule.mapper.schedule.automapper.TilitiliJobAutoMapper.Base_Column_List" /> from tilitili_job a <where>
			<if test="id!=null">and `id`=#{id}</if>
			<if test="title!=null">and `title`=#{title}</if>
			<if test="name!=null">and `name`=#{name}</if>
			<if test="cron!=null">and `cron`=#{cron}</if>
			<if test="status!=null">and `status`=#{status}</if>
			<if test="createTimeStart!=null">and `create_time`>#{createTimeStart}</if>
			<if test="createTimeEnd!=null">and #{createTimeEnd}>=`create_time`</if>
			<if test="updateTimeStart!=null">and `update_time`>#{updateTimeStart}</if>
			<if test="updateTimeEnd!=null">and #{updateTimeEnd}>=`update_time`</if>
		</where>
		<if test="sorter!=null and sorted!=null">order by ${sorter} ${sorted}</if>
		<if test="pageNo!=null and pageSize != null">limit #{start}, #{pageSize}</if>
	</select>
	<select id="getTilitiliJobByName" resultMap="TilitiliJob">
		select <include refid="Base_Column_List" />
		from tilitili_job a where `name` = #{name}
	</select>
	<select id="getTilitiliJobById" resultMap="TilitiliJob">
		select <include refid="Base_Column_List" />
		from tilitili_job a where `id` = #{id}
	</select>
	<delete id="deleteTilitiliJobByPrimary" parameterType="java.util.Map">
		delete from tilitili_job where `id` = #{id}
	</delete>
</mapper>