<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.tilitili.schedule.mapper.schedule.automapper.TilitiliLogAutoMapper">
	<resultMap id="TilitiliLog" type="club.tilitili.schedule.entity.TilitiliLog">
		<result  property="id"  column="id"/>
		<result  property="name"  column="name"/>
		<result  property="runTime"  column="run_time"/>
		<result  property="success"  column="success"/>
		<result  property="failReason"  column="fail_reason"/>
		<result  property="createTime"  column="create_time"/>
		<result  property="updateTime"  column="update_time"/>
	</resultMap>
	<sql id="Base_Column_List">a.`id`,a.`name`,a.`run_time`,a.`success`,a.`fail_reason`,a.`create_time`,a.`update_time`</sql>
	<insert id="addTilitiliLogSelective" parameterType="club.tilitili.schedule.entity.TilitiliLog" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO tilitili_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!= null" >`name`,</if>
			<if test="runTime!= null" >`run_time`,</if>
			<if test="success!= null" >`success`,</if>
			<if test="failReason!= null" >`fail_reason`,</if>
			`create_time`,
			`update_time`,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name!= null" >#{name},</if>
			<if test="runTime!= null" >#{runTime},</if>
			<if test="success!= null" >#{success},</if>
			<if test="failReason!= null" >#{failReason},</if>
			now(),
			now(),
		</trim>
	</insert>
	<update id="updateTilitiliLogSelective"  parameterType="club.tilitili.schedule.entity.TilitiliLog">
		update tilitili_log <set>
			<if test="name!=null">`name`=#{name},</if>
			<if test="runTime!=null">`run_time`=#{runTime},</if>
			<if test="success!=null">`success`=#{success},</if>
			<if test="failReason!=null">`fail_reason`=#{failReason},</if>
			`update_time`=now(),
		</set>
		where id=#{id}
	</update>
	<select id="countTilitiliLogByCondition"  parameterType="club.tilitili.schedule.entity.query.TilitiliLogQuery" resultType="java.lang.Integer">
		select count(1) from tilitili_log a <where>
			<if test="id!=null">and `id`=#{id}</if>
			<if test="name!=null">and `name`=#{name}</if>
			<if test="runTimeStart!=null">and `run_time`>#{runTimeStart}</if>
			<if test="runTimeEnd!=null">and #{runTimeEnd}>=`run_time`</if>
			<if test="success!=null">and `success`=#{success}</if>
			<if test="failReason!=null">and `fail_reason`=#{failReason}</if>
			<if test="createTimeStart!=null">and `create_time`>#{createTimeStart}</if>
			<if test="createTimeEnd!=null">and #{createTimeEnd}>=`create_time`</if>
			<if test="updateTimeStart!=null">and `update_time`>#{updateTimeStart}</if>
			<if test="updateTimeEnd!=null">and #{updateTimeEnd}>=`update_time`</if>
		</where>
	</select>
	<select id="getTilitiliLogByCondition"  parameterType="club.tilitili.schedule.entity.query.TilitiliLogQuery" resultMap="club.tilitili.schedule.mapper.schedule.automapper.TilitiliLogAutoMapper.TilitiliLog">
		select <include refid="club.tilitili.schedule.mapper.schedule.automapper.TilitiliLogAutoMapper.Base_Column_List" /> from tilitili_log a <where>
			<if test="id!=null">and `id`=#{id}</if>
			<if test="name!=null">and `name`=#{name}</if>
			<if test="runTimeStart!=null">and `run_time`>#{runTimeStart}</if>
			<if test="runTimeEnd!=null">and #{runTimeEnd}>=`run_time`</if>
			<if test="success!=null">and `success`=#{success}</if>
			<if test="failReason!=null">and `fail_reason`=#{failReason}</if>
			<if test="createTimeStart!=null">and `create_time`>#{createTimeStart}</if>
			<if test="createTimeEnd!=null">and #{createTimeEnd}>=`create_time`</if>
			<if test="updateTimeStart!=null">and `update_time`>#{updateTimeStart}</if>
			<if test="updateTimeEnd!=null">and #{updateTimeEnd}>=`update_time`</if>
		</where>
		<if test="sorter!=null and sorted!=null">order by ${sorter} ${sorted}</if>
		<if test="pageNo!=null and pageSize != null">limit #{start}, #{pageSize}</if>
	</select>
	<select id="getTilitiliLogById" resultMap="TilitiliLog">
		select <include refid="Base_Column_List" />
		from tilitili_log a where `id` = #{id}
	</select>
	<delete id="deleteTilitiliLogByPrimary" parameterType="java.util.Map">
		delete from tilitili_log where `id` = #{id}
	</delete>
</mapper>